# Ignorar todos los TXT en la raíz
/*.txt

# Ignorar la carpeta Docs y su contenido
/Docs/
/Docs/**
!/Docs/

/docs/
/docs/**
!/docs/

# Ignorar la carpeta database y su contenido...
#Se ignora porque allí están todos los documentos que se cargarían, la estructura la escribe el script que construye la base de datos
/database/


# Opcional: ignorar archivos temporales de Python y Anaconda
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints
.venv/
.env/
.conda/
